@(tid: Long)

<!DOCTYPE html>

<html>
    <head>
        <title>任务完成</title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
        <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico">
    </head>
    
    <body>
    
    
    <div class="text-center vcenter">
      


     <h4>任务完成</h4>
     <h4>您可以<a href="list?taskid=@tid">查看或修改已完成的标注</a></h4>

      </div>
    
    </body>
</html>

